In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import json
import folium
import webbrowser

In [94]:
korea = json.load(open('korea.json','r',encoding='UTF-8'))

In [158]:
korea

    code  2020년 12월28일
지 역
서울    11       108.412
경기    41       112.582
인천    28       109.303
부산    26       100.369
대구    27       110.568
광주    29       106.173
대전    30       131.446
울산    31        94.886
세종    36       142.234
강원    42        90.567
충북    43        91.765
충남    44        95.973
전북    45        96.228
전남    46       105.595
경북    47        88.425
경남    48        86.870
제주    50        93.635

In [15]:
apart_t = pd.read_csv('아파트_매매가_상승_지수.csv',encoding='CP949',header=[0,1]) #csv파일을 읽어온다. 
[apart_t.rename(columns={apart_t.columns[index][0]:apart_t.columns[index-1][0]},inplace=True) for index,i in enumerate(apart_t.columns) if index%2!=0]
apart_t.drop(apart_t.columns[1:4],axis=1,inplace=True) # 1 ~ 3번째 열 삭제
apart_t.rename(columns={'Unnamed: 0_level_1':'지역'},inplace=True) # 지역으로 이름변경
apart_t.dropna(axis=0,inplace=True) #지역의 null값 행 모두 제거
apart_t.set_index('지 역',inplace=True) # 지역 인덱스화
apart_t.index = apart_t.index.map(lambda x : x[0]) #지역 인덱스 튜플값 풀어주기
apart_i = pd.DataFrame(apart_t.iloc[:,0::2].values,columns=apart_t.columns[0::2].map(lambda x : x[0])) #지수별로 데이터프레임 생성
apart_f = pd.DataFrame(apart_t.iloc[:,1::2].values,columns=apart_t.columns[0::2].map(lambda x : x[0])) #변동률별로 데이터프레임 생성
apart_i.set_index(apart_t.index,inplace=True) #인덱스를 지역명으로 지정
apart_f.set_index(apart_t.index,inplace=True) #
# apart_f=apart_f.transpose()
# apart_f = apart_f.astype(np.float)
# apart_i=apart_i.transpose()
# apart_i = apart_i.astype(np.float)

In [16]:
apart=pd.DataFrame(apart_i.iloc[:,-1])

In [17]:
apart.drop(apart.iloc[0:7].index,inplace=True)

In [18]:
apart=apart.astype(float)

In [101]:
apart['code']=['11','41','28','26','27','29','30','31','36','42','43','44','45','46','47','48','50']

In [20]:
apart['code']=['서울특별시','경기도','강원도','경상남도','경상북도','광주광역시','대구광역시','대전광역시','부산광역시','세종특별자치시','울산광역시','인천광역시','전라남도','전라북도','제주특별자치도','충청남도','충청북도']

In [46]:
apart = apart[['code','2020년 12월28일']]

In [97]:
mapp = folium.Map(location=[36.658451288367225, 127.86120689780692],zoom_start=7)

In [103]:
folium.Choropleth(geo_data=korea,
               data=apart,
               columns=['code','2020년 12월28일'],
               key_on='feature.properties.CTPRVN_CD',
               fill_color='YlGn',
#                fill_opacity=0.7,
#                line_opacity=0.5,

               ).add_to(mapp)

map2.save('folium_kr.html')
webbrowser.open_new("folium_kr.html")

True